
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body  {
    background-color: rgba(206, 234, 178, 1);
    width: 100vw;
}

ul  {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: white;
   
}

ul li  {
    font-size: 1.2rem;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
}

.img-responsive  {
    height: 6vh;
    width: auto;
    
}

.navigation {
    top: 0;
    width: 100vw;
    height: auto;
  }

  .navigation a {
    font-size: 1.5rem;
    color: black;
    font-family: "Rockwell", "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    text-decoration: none;
   
  }
  
  h1  {
    text-align: center;
    font-size: 2rem;
  }

  .mountain-lake-image  {
      width: 100vw;
      height: auto;
  }

.who-we-are  {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.heading-large  {
    text-align: center;
    font-size: 2rem;
    margin: 30px;
    display: block;
    font-family: "Rockwell", "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  }

.heading-small  {
    text-align: center;
    font-size: 2rem;
    margin: 30px;
    display: block;
    font-family: "Rockwell", "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  }

  .text  {
    justify-self: center;
    margin: 50px;
    max-width: 50%;
    font-size: 1.5rem;
    display: block;
  }

  .explore-link  {
    margin: 30px;
    font-size: 2rem;
    text-align: center;
  }

  .what-we-do  {
    display: grid;
    align-items: center;
    background-color: white;
  }

  .gallery-container  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .gallery-image  {
    display: grid;
    justify-self: center;
    max-width: 33vw;
    height: auto;
    
  }
                  
  .gallery-caption  {
      margin-bottom: 20px;
  }

  .why-join  {
    display: grid;
    align-items: center;  
  }

  .girl-yard-image  {
    width: 100vw;
    height: auto;
  }

  .footer  {
    display: grid;
    background-color: rgba(235, 227, 227, 0.5);
    justify-items: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
   font-size: 0.8em;
  }

  .page-bottom  {
    bottom: 0;
    width: 100%;
    margin: 0;
    max-height: 50%;
  }

  @media screen and (max-width: 600px) {
    body  {
      width: 100%;
      font-size: 0.5em;
    }

    .navigation a {
      font-size: 1rem;
      color: black;
      font-family: "Rockwell", "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
      text-decoration: none;
     
    }
  }