
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body  {
    background-color: rgba(206, 234, 178, 1);
    width: 100vw;
}

ul  {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: white;
   
}

ul li  {
    font-size: 1.2rem;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
}

.img-responsive  {
    height: 6vh;
    width: auto;
    
}

.navigation {
    top: 0;
    width: 100vw;
    height: auto;
  }

  .navigation a {
    font-size: 1.5rem;
    color: black;
    font-family: "Rockwell", "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    text-decoration: none;
   
  }
  
  h1  {
    text-align: center;
    font-size: 2rem;
  }

  .mountain-lake-image  {
      width: 100vw;
      height: auto;
  }

.who-we-are  {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.heading-large  {
    text-align: center;
    font-size: 2rem;
    margin: 30px;
    display: block;
    font-family: "Rockwell", "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    color: rgb(44, 56, 10);
  }

.heading-small  {
    text-align: center;
    font-size: 2rem;
    margin: 30px;
    display: block;
    font-family: "Rockwell", "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    color: rgb(44, 56, 10);
  }

  .text  {
    justify-self: center;
    margin: auto;
    max-width: 50%;
    font-size: 1.5rem;
    display: block;
    text-align: center;
    margin-bottom: 50px;
  }

  .explore-link  {
    margin: 30px;
    font-size: 2rem;
    text-align: center;
  }

  .what-we-do  {
    display: grid;
    align-items: center;
    background-color: white;
  }

  .gallery-container  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .gallery-image  {
    display: grid;
    justify-self: center;
    max-width: 33vw;
    height: auto;
    
  }
                  
  .gallery-caption  {
      margin-bottom: 20px;
  }

  .why-join  {
    display: grid;
    align-items: center;  
  }

  .girl-yard-image  {
    width: 100vw;
    height: auto;
  }

  .footer  {
    display: grid;
    background-color: rgba(235, 227, 227, 0.5);
    justify-items: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
   font-size: 0.8em;
  }

  .page-bottom  {
    bottom: 0;
    width: 100%;
    margin: 0;
    max-height: 50%;
  }

  .panel  {
    max-height: 100%;
    width: 100%;
  
  }
  
  #reveal2 {
		opacity: 0;
		-webkit-transform: rotate(40deg) scale(0.5);
			 -moz-transform: rotate(40deg) scale(0.5);
				-ms-transform: rotate(40deg) scale(0.5);
				 -o-transform: rotate(40deg) scale(0.5);
						transform: rotate(40deg) scale(0.5);
		-webkit-transition: all 0.8s ease-in-out;
			 -moz-transition: all 0.8s ease-in-out;
				-ms-transition: all 0.8s ease-in-out;
				 -o-transition: all 0.8s ease-in-out;
						transition: all 0.8s ease-in-out;
	}
	#reveal2.visible {
		opacity: 1;
		-webkit-transform: none;
			 -moz-transform: none;
				-ms-transform: none;
				 -o-transform: none;
						transform: none;
  }
  
  .digit {
		opacity: 0;
		-webkit-transform: translateX(-40px);
			 -moz-transform: translateX(-40px);
				-ms-transform: translateX(-40px);
				 -o-transform: translateX(-40px);
						transform: translateX(-40px);
		-webkit-transition: all 0.6s ease-out;
			 -moz-transition: all 0.6s ease-out;
				-ms-transition: all 0.6s ease-out;
				 -o-transition: all 0.6s ease-out;
						transition: all 0.6s ease-out;
	}
	.digit.visible {
		opacity: 1;
		-webkit-transform: none;
			 -moz-transform: none;
				-ms-transform: none;
				 -o-transform: none;
						transform: none;
	}


  @media screen and (max-width: 600px) {
    body  {
      width: 100%;
      font-size: 0.5em;
    }

    .navigation a {
      font-size: 1rem;
      color: black;
      font-family: "Rockwell", "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
      text-decoration: none;
     
    }
  }